{% extends "AppBundle::layout.html.twig" %}
{% block content %}
    <h1>Создание рецепта</h1>

    <a href="{{ path('recipe_list') }}">Назад к списку</a>

    {{ form_start(form) }}

    <div style="color: red;">{{ form_errors(form) }}</div>

    <div>
        {{ form_label(form.name, 'Название рецепта') }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div>
        {{ form_label(form.description, 'Описание рецепта') }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div>
        Ингредиенты:
        <ul id="ingredients-list" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}">
            {% for ingredient in form.ingredients %}
                <li>
                    {{ form_errors(ingredient) }}
                    {{ form_widget(ingredient) }} <a href="#" class="remove-ingredient">X</a>
                </li>
            {% endfor %}
        </ul>
        <a href="#" id="add-ingredient">Добавить ингредиент</a>
        {{ form_widget(form.ingredients) }}
        <br>
    </div>

    <div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-large form-control' }, 'label': 'Сохранить'}) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var count = '{{ form.ingredients|length }}';

        $(document).ready(function() {
            $('#add-ingredient').click(function(e) {
                e.preventDefault();

                var list = jQuery('#ingredients-list');

                var newWidget = list.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, count);
                count++;

                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(list);
            });

            $('#ingredients-list').on('click', '.remove-ingredient', function(){
                $(this).parent('li').remove();
            });
        })
    </script>
{% endblock %}
