{% extends "AppBundle::layout.html.twig" %}

{% macro widget_prototype(widget) %}
    <li>
        {{ form_errors(widget) }}
        {{ form_widget(widget) }} <a href="#" class="remove-ingredient">X</a>
    </li>
{% endmacro %}

{% import _self as forms %}

{% block content %}
    <a href="{{ path('recipe_list') }}" class="pull-right">Назад к списку</a>
    <br>
    <h2>Создание рецепта</h2>

    {{ form_start(form) }}

    <div style="color: red;">{{ form_errors(form) }}</div>

    <div class="row">
        <div class="col-xs-3"><label>Название рецепта</label></div>
        <div class="col-xs-5">{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="col-xs-5 col-xs-offset-3 text-danger">{{ form_errors(form.name) }}</div>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-3"><label>Описание рецепта</label></div>
        <div class="col-xs-5">{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="col-xs-5 col-xs-offset-3 text-danger">{{ form_errors(form.description) }}</div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-3"><label>Ингредиенты</label></div>
        <div class="col-xs-5">
            <ul id="ingredients-list" data-prototype="{{ forms.widget_prototype(form.ingredients.vars.prototype)|e }}">
                {% for ingredient in form.ingredients %}
                    {{ forms.widget_prototype(ingredient) }}
                {% endfor %}
            </ul>
            <br>
            <a href="#" id="add-ingredient">Добавить ингредиент</a>
            {{ form_widget(form.ingredients) }}
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-5">{{ form_widget(form.submit, {'attr': {'class': 'btn btn-green' }, 'label': 'Сохранить'}) }}</div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var count = '{{ form.ingredients|length }}';

        $(document).ready(function () {
            $('#add-ingredient').click(function (e) {
                e.preventDefault();

                var list = jQuery('#ingredients-list');

                var newWidget = list.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, count);
                count++;

                var newLi = $(newWidget);
                newLi.appendTo(list);
            });

            $('#ingredients-list').on('click', '.remove-ingredient', function () {
                $(this).parent('li').remove();
            });
        })
    </script>
{% endblock %}
