{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Список рецептов</h1>

    <a href="{{ path('ingredient_list') }}">Ингредиенты</a><br>
    <a href="{{ path('recipe_create') }}">Новый рецепт</a>

    <div class="search">
        <input id="js-search" type="text" placeholder="cтрока поиска" value="" autofocus="autofocus">
        <button type="button" class="btn btn-default">Поиск</button>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Ингридиенты</th>
            <th>Выбрать</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.description }}</td>
                <td class="ingredients">
                    {% for ingredient in recipe.ingredients %}
                        <span>{{ ingredient.name }}</span>{{ loop.last ? '' : ';' }}
                    {% endfor %}
                </td>
                <td><input type="checkbox" /></td>
                <td>
                    <a href="{{ path('recipe_view', {id: recipe.id }) }}">Просмотреть</a>
                    <a href="{{ path('recipe_edit', {id: recipe.id }) }}">Редактировать</a>
                    <a href="{{ path('recipe_delete', {id: recipe.id }) }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div>
        Все ингредиенты выбранных рецептов: <span id="total-ingredients"></span>
    </div>
{% endblock %}

{% block js %}
    <script>

        $(document).ready(function () {
            var find = function () {
                var search = $('#js-search').val();

                location.href = window.location.pathname + '?' + 'search=' + search;
            };

            $('.search button').on('click', function () {
                find();
            });

            $('#js-search').on('keypress', function (e) {
                if (e.keyCode == 13) {
                    find();
                }
            });

            $('table input[type=checkbox]').change(function(){
                var ingredients = [];
                $('table input[type=checkbox]:checked').each(function(){
                    $(this).closest('tr').find('td.ingredients span').each(function(){
                        var ingredient = $(this).html();
                        if (ingredients.indexOf(ingredient) === -1) {
                            ingredients.push(ingredient);
                        }
                    });
                });

                var total_ingredients = '';

                ingredients.forEach(function(item) {
                    total_ingredients += item + '; ';
                });

                $('#total-ingredients').html(total_ingredients);
            }).change();
        });

    </script>
{% endblock %}