{% extends "AppBundle::layout.html.twig" %}
{% block content %}
    <a href="{{ path('ingredient_list') }}" class="pull-right">Назад к списку</a>
    <br>

    <h2>Создание ингредиента</h2>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-xs-3"><label>Название ингредиента</label></div>
        <div class="col-xs-5">{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="col-xs-5 col-xs-offset-3 text-danger">{{ form_errors(form.name) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-5">{{ form_widget(form.submit, {'attr': {'class': 'btn btn-green' }, 'label': 'Сохранить'}) }}</div>
    </div>

    {{ form_end(form) }}

{% endblock %}
